#container {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    text-align: center;
}

#output-row {
    height: 70px;
    border: 1px solid black;
    margin: auto;
}

.button-row {
    height: 66px;
    width: 290px;
    margin: 5px auto 5px auto;
    border: 1px solid black;
}